.float-right, right {
    float: right;
}

.float-left, left {
    float: left;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.top0 {
    top: 0;
}

.left0 {
    left: 0;
}

.right0 {
    right: 0;
}

.bottom0 {
    bottom: 0;
}

.width-auto {
    width: auto;
}

.width10 {
    width: 10%;
}

.width20 {
    width: 20%;
}

.width30 {
    width: 30%;
}

.width40 {
    width: 40%;
}

.width50 {
    width: 50%;
}

.width60 {
    width: 60%;
}

.width70 {
    width: 70%;
}

.width80 {
    width: 80%;
}

.width90 {
    width: 90%;
}

.width100 {
    width: 100%;
}

.width200 {
    width: 200%;
}

.width300 {
    width: 300%;
}

.width400 {
    width: 400%;
}

.width500 {
    width: 500%;
}

.width600 {
    width: 600%;
}

.width700 {
    width: 700%;
}

.width800 {
    width: 800%;
}

.width900 {
    width: 900%;
}

.width1000 {
    width: 1000%;
}

.relative {
    position: relative;
}

.rotate0 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0)";
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.rotate90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

/*旋转动画*/
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.animation-spin {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mutile-line-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.mutile-line-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.mutile-line-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.mutile-line-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.mutile-line-5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.mutile-line-6 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.mutile-line-7 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.mutile-line-8 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
}

.mutile-line-9 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;
}

.mutile-line-10 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
}
/*元素居中(水平和垂直)*/
.center {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
/*元素居中(水平和垂直)*/
.center-position {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
/*文字居中*/
.text-center {
    text-align: center;
}

.dock {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dock-left {
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;
}

.dock-right {
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
}

.dock-top {
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
}

.dock-bottom {
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
}
/*蒙版效果*/
.mask {
    background-color: rgba(0,0,0,.3);
}

.inline-container {
    -webkit-text-size-adjust: none;
    font-size: 0;
}
    .inline-container > * {
        display: inline-block;
        font-size: initial;
    }
