.bkcolor:before {
    content: '';
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -9;
}

.bkcolor-dark:before {
    background-color: #ccc;
}
