/*小红点提示*/
.dottip {

    position: absolute;
    display: inline-block;
    font-family: "Microsoft YaHei",arial,"\5b8b\4f53",monospace;
    background-color: #f00;
    border-radius: 50% 50%;
    width: 1.4em;
    height: 1.4em;
    margin-left: -.75em;
    margin-top: -.25em;
    line-height: 1.4em;
    font-size: 75%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
    .dottip:empty {
        width: .8em;
        height: .8em;
        margin-left: -.4em;
        margin-top: -.2em;
    }
