.nav ul, .nav ol, .nav li, nav li > a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav ul, .nav ol {
    list-style: none;
    /*margin-left: auto;
    margin-right: auto;*/
    white-space: nowrap;
}

.nav  li > a{
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    display: block;
}
